@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,600,700,900);

body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h4, h6 {
    font-family: 'Raleway', sans-serif;
}
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 12px 22px;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    background: #303030;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
    white-space: nowrap;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0);
    box-shadow: inset 0 -100px 0 rgba(41,41,41,0);
    -webkit-appearance: none;
    margin-bottom: 15px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.button:hover,
.button:focus,
.button:active {
    color: #fff;
    -webkit-transition: 0.25s !important;
    transition: 0.25s !important;
    opacity: 1;
    -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
    box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
    text-decoration: none;
}
.round {
    border-radius: 40px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
#preloader {
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 9999;
}
#navigation {
    background-color: transparent;
    border: none;
    height: 70px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-brand {
    height: 127px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-brand img {
    height: 47px;
}
#navigation .social-icons {
    margin-top: 10px;
}
#navigation .facebook a {
    color: #3C599F;
}
#navigation .twitter a {
    color: #32CCFE;
}
#navigation .linkedin a {
    color: #0085AE;
}
#navigation .social-icons a {
    font-size: 18px;
}
.background {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover; 
}
#showcase {
   background: #1E263B;
    overflow: hidden;
    position: relative;
}
#showcase .container {
    padding-top: 90px;
    padding-bottom: 90px;
}
#showcase .background {
    background-image: url("https://unsplash.it/1280/720/?random");
    opacity: 0.05;
    filter: alpha(opacity=10);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 5s cubic-bezier(0.3, 0, 0.7, 1);
    transition: transform 5s cubic-bezier(0.3, 0, 0.7, 1);
}
.loaded #showcase .background {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#showcase .text-block {
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
}
#showcase h1 {
    font-size: 44px;
    line-height: 1.05;
    font-weight: 300;
    margin: 30px 0;
}
#showcase p {
    color: #D0E5FF;
    margin: 0 0 30px 0;
}
#showcase ul.list-inline{
    margin: 0;
}
#showcase ul.list-inline li {
    padding: 0 10px;
}
#showcase ul.list-inline li:first-child {
    padding-left: 0;
}
#showcase .button {
    background-color: #43cb83;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase !important;
    letter-spacing: 0.1em !important;

}
#showcase .button.outline {
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.7);
    padding-top: 13px;
    padding-bottom: 13px;
}
#showcase .button.outline:hover,
#showcase .button.outline:focus,
#showcase .button.outline:active {
    border-color: #fff;
}
#showcase .showcase-phones {
    position: absolute;
    right: 0;
}
#logo-bar {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    text-align: center;
}
#logo-bar h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
}
#logo-bar ul {
    margin: 0;
}
#logo-bar ul li {
    padding-right: 40px;
    padding-left: 40px;
}
#logo-bar img {
    height: 50px;

}
#features .container {
    padding: 120px 15px 80px;
}
#features .title h2 {
    color: #3e3f42;
    margin-top: 0;
    margin-bottom: 20px;
}
#features .title p {
    display: block;
    margin-bottom: 60px;
}
#features .screen {
    max-width: 100%;
    height: auto;
}
#features ul li {
    margin-bottom: 30px;
}
#features ul li .icon {
    color: #009bff;
    font-size: 36px;
}
#features h4 {
    font: 600 18px 'Raleway', sans-serif;
}
#two {
    background: #1E263B;
    color: #fff;
    padding: 90px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#two .background {
    background-image: url('https://unsplash.it/1280/720/?random');
    opacity: 0.05;
    filter: alpha(opacity=10);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#two h2 {
    font-size: 44px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

#two br {
    display: none;
}
.app-download {
    margin-top: 30px;
}
.app-download a {
    display: block;
}
.app-download img,
.app-download svg {
    height: 50px;
}

footer {
    background-color: #fff;
    padding: 60px 0;
}


footer .bottom p {
    margin: 0;
}
footer .copyright {
    text-align: right;
}
footer .bottom ul li {
    padding-right: 20px;
    padding-left: 20px;
}
footer .bottom ul li:last-child {
    padding-right: 0;
}
footer .bottom ul li a {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
footer .bottom ul li a:hover {
    color: #000;
    text-decoration: none;
}
@media (min-width: 768px) {
    #showcase .container {
        padding-top: 90px;
        padding-bottom: 120px;
    }
    #showcase h1 {
        font-size: 60px;
    }
    #logo-bar {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #features h2 {
        font-size: 44px;
    }
}
@media (min-width: 992px) {
    #video {
        text-align: left;
    }
    .intro-block {
        text-align: left;
    }
    #showcase .text-block {
        text-align: left;
    }
    #showcase h1 {
        font-size: 42px;
        margin: 60px 20px 30px 0;
    }
    #showcase p {
        margin-right: 20px;
    }
    
    #showcase .showcase-phones {
        max-width: 500px;
    }
    
    #two br {
        display: block;
    }

}


@media (min-width: 1170px) {
    
    #showcase h1 {
        font-size: 56px;
        line-height: 65px;
        margin-top: 120px;
    }
    #showcase .showcase-phones {
        max-width: 100%;
    }
    #two {
        text-align: left;
    }
}